<h1>Pending Orders  </h1>
       {{#each orders}}
       <section class='orders'>
        <form action="/locator" method="POST">
            <span>{{product}}</span> 
            <span>{{price}}</span> 
            <span>{{type}}</span> 
            <span>{{user}}</span>
            {{!-- on edit find the user and populate the fields  --}}
            <input type='hidden' name='email' value={{user}}>
            <input type="submit" class='orderEdit' value="Edit">

        </form>
        <form action="/register/edit/{{id}}?_method=DELETE" method="POST">

            <input type="hidden" name='_method' value='DELETE'>
            <input type="submit" class='orderAppr' id='apprBtn' value="Approve">
        </form>

       </section>
        
{{else}}

    <span> No Orders Created </span>
{{/each}}