<h1>Customer Locator </h1>
{{!-- <h6>products</h6>
<p>{{products}}</p> --}}
{{!-- <h6>customer</h6>
<p>{{customer}}</p> --}}
{{#if customer}}
{{#each customer}}
<section>
    <form action="/register/new" method='POST'>
        <section class="form-container">
            <hr>
            <label for="firstName">First Name </label>
            <input type="text" name='firstName' id='firstName' value={{fname}} required>

            <label for="lastName">Last Name </label>
            <input type="text" name='lastName' id='lastName' value={{lname}} required>

            <label for="email">Email </label>
            <input type="email" name='email' id='email' value={{email}} required>

            <label for="qty">Quanity </label>
            <input type='text' name='qty' id='qty' required>
               
            <label for="price">Price </label>
            <input type="text" name='price' id='price'>

            <label for="product">Product</label>
            <select name='product' id='product'>
                <option name='plaque' value="Plaque">Plaque</option>
                <option name='sweater' value="Sweater">Sweater</option>
                <option name='tshirt' value="Tshirt">T-Shirt</option>
                <option name='trophy' value="Trophy">Trophy</option>
            </select>

            <label for="job">Job </label>
            <select name="job" id="job">
                <option value="printing">Print</option>
                <option value="engraving">Engraving</option>
            </select>

            <label for="msg" id='msg'>Message</label>
            <textarea name='msg' cols="50" placeholder="Craft your message...">
        </textarea>


        <button type='submit' id='save-btn'>Order</button>

        </section>
    </form>
</section>
{{else}}
<h1> No Profile Found </h1>
<a href="/admin/custRegistration">Register User</a>
{{/each}}
{{/if }}
<h1>{{errors}}</h1>
{{#if errors}}
    <h1> No Profile Found </h1>
    <a href="/admin/custRegistration">Register User</a>
{{/if}}
<section class="edit-user">
    <h1>Search by Email</h1>

    <form action="/locator" method='POST'>
        <section class="form-container">
            <hr>

            <label for="email">Email </label>
            <input type="email" name='email' id='email' required>

            <button type='submit' id='register-btn'>Find</button>

        </section>
    </form>


</section>