
<h1>{{user.fname}}</h1>
<h1>{{user.email}}</h1>
{{#each order}}

        <table>
            <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Notes</th>
            </tr>
            <tr>
                <td>{{product}} {{type}}</td>
                <td>{{price}}</td>
                <td>{{desc}}</td>
            </tr>
        </table>
      
{{else}}
 <h1>No Orders have been placed!</h1>
{{/each}}
