<h1>All Products</h1>
<section id="allProducts">
  
   <ul class='products product-items'>
      {{#each products}}
        
      {{#if plaque}}
      <section>
         {{!-- <form action="/orders/{{id}}?_method=PUT" method='POST'> --}}
            <form action="/orders/{{id}}" method='GET'>
               <li>
                  <img src="/imgs/Plaque/{{product}}.jpg" alt="">
                  {{!-- <input type="hidden" name='_method' value='PUT'> --}}
                  <input type='hidden' name='choice' value={{product}}>
                  <input type="hidden" name='email' value={{user.email}}>
                  <input type="submit" class='productBtn' value="Order">
               </li>
            </form>
      </section>
      {{/if }}

      {{#if sweater}}
      <section>
         {{!-- <form action="/orders/{{id}}?_method=PUT" method='POST'> --}}
            <form action="/orders/{{id}}" method='GET'>
               <li>
                  <img src="/imgs/Sweatshirts/{{sweater}}_{{product}}.jpg" alt="">
                  {{!-- <input type="hidden" name='_method' value='PUT'> --}}
                  <input type='hidden' name='choice' value=`{{sweater}} {{product}}` >
                  <input type="submit" class='productBtn' value="Order">
               </li>
            </form>
      </section>

      {{/if }}

      {{#if tshirt}}
      <section>
         {{!-- <form action="/orders/{{id}}?_method=PUT" method='POST'> --}}
            <form action="/orders/{{id}}" method='GET'>
               <li name=>
                  <img src="/imgs/T_shirts/{{tshirt}}_{{product}}.jpg" alt="">
                  {{!-- <input type="hidden" name='_method' value='PUT'> --}}
                  <input type='hidden' name='choice' value={{tshirt}} {{product}}>
                  <input type="submit" class='productBtn' value="Add To Cart">
               </li>
            </form>
      </section>
      {{/if}}

      {{#if trophy}}
      <section>
         {{!-- <form action="/orders/{{id}}?_method=PUT" method='POST'> --}}
            <form action="/orders/{{id}}" method='GET'>
               <li>
                  <img src="/imgs/Trophy/{{product}}_{{gender}}.jpg" alt="">
                  {{!-- <input type="hidden" name='_method' value='PUT'> --}}
                  <input type='hidden' name='choice' value={{product}} {{gender}}>
                  <input type="submit" class='productBtn' value="Add To Cart">
               </li>

            </form>
      </section>
      {{/if}}

      {{else}}
      <section>
         <h1>No Products Found! </h1>
      </section>

      {{/each}}
   </ul>
</section>